<% layout('layouts/boilerplate') %>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h3>Edit Your Listing</h3>
                <form action="/listings/<%= listing._id%>?_method=PUT" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
                        <div class="invalid-feedback">Please enter a title</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" name="listing[description]"
                            class="form-control" required><%= listing.description %></textarea>
                            <div class="invalid-feedback">Please enter a short description.</div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="typeOfPlace" class="form-label">Type of Place</label>
                        <select name="listing[typeOfPlace]" class="form-select mb-3" required>
                            <option value="" disabled>Select Type of Place</option>
                            <option value="Iconic Cities" <%= listing.typeOfPlace === "Iconic Cities" ? "selected" : "" %>>Iconic Cities</option>
                            <option value="Rooms" <%= listing.typeOfPlace === "Rooms" ? "selected" : "" %>>Rooms</option>
                            <option value="Mountains" <%= listing.typeOfPlace === "Mountains" ? "selected" : "" %>>Mountains</option>
                            <option value="Castles" <%= listing.typeOfPlace === "Castles" ? "selected" : "" %>>Castles</option>
                            <option value="Pools" <%= listing.typeOfPlace === "Pools" ? "selected" : "" %>>Pools</option>
                            <option value="Camping" <%= listing.typeOfPlace === "Camping" ? "selected" : "" %>>Camping</option>
                            <option value="Farms" <%= listing.typeOfPlace === "Farms" ? "selected" : "" %>>Farms</option>
                            <option value="Arctic" <%= listing.typeOfPlace === "Arctic" ? "selected" : "" %>>Arctic</option>
                        </select>
                        <div class="invalid-feedback">Please select a type of place.</div>
                    </div>

                    <div class="mb-3">
                        Original Listing Image <br>
                        <img src="<%= originalImageUrl %>" alt="Original Image" class="img-fluid">
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload New Image</label><br>
                        <input type="file" name="listing[image]" class="form-control">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control" required>
                            <div class="invalid-feedback">Please enter a valid price.</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" name="listing[location]" value="<%= listing.location%>" class="form-control" required>
                            <div class="invalid-feedback">Please enter the location name</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" value="<%= listing.country%>" class="form-control" required>
                        <div class="invalid-feedback">Please enter the country name</div>
                    </div>
                    <button class="btn btn-dark edit-btn mt-3">Edit</button>
                    <br><br>
                </form>
            </div>
        </div>
        <script src="/JS/script.js"></script>
    </body>